.title {
  font-size:3em;
  font-family: cursive;
  color: red;
}

.instructions{
  font-size:1.5em;
  color:green;
  font-family: sans-serif;
}

body{
  padding: 1.5em;
  border: solid 2.5em black;
  text-align: center;
}

html{
  margin: 3em;
  background-color: #FF9000;
}
