.title {
  font-size:3em;
  font-family: cursive;
  color: green;
}

.instructions{
  font-size:1.5em;
  font-family: sans-serif;
}

body{
  padding: 3em;
  text-align: center;
}

html{
  margin: 3em black;
}

ul{
  font-size: 1.25em;
float: left;
color:blue;
}
ol{
  font-size: 1.25em;
  float: right;
  color: red;
}
li{
  font-size: 1em;
  color:black;
}
