.title {
  font-size:3em;
  font-family: cursive;
  color: green;
  text-align: center;
}

.instructions{
  text-align: center;
  font-size:1.5em;
  font-family: sans-serif;
}
html{
  margin: 3em black;
}

body{
  border: 3em black solid;
  text-align: center;
}

ul{
  font-size: 1.25em;
  float: left;
  color:blue;
}

ol{
  font-size: 1.25em;
  float: right;
  color: red;
}

li{
  font-size: 1em;
  color:black;
}

p{
  text-align: center;
}
